::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #fff);
    background: #000;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    box-shadow: inset 0 0 6px #fff;
    background: rgb(6, 105, 105);
}

* body {
    background: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
}

html {
    height: 100%;
    width: 100%;
    /* position: relative; */
}

.menu-active {
    color: limegreen !important;
}

.white {
    color: white;
}

.aqua {
    color: aqua;
}

.green {
    color: #08ff44;
}

.box {
    border: 0.5px solid;
    border-top: none;
    border-bottom: none;
    border-color: #f5f5f5a1;
}

.s-box {
    background: #289186;
    padding: 4%;
    border-radius: 15px;
    color: white;
    font-size: 80px;
}

.box:hover .s-box {
    background: #18caef;
    color: black;
    box-shadow: -1px 2px 20px 2px white;
}

.s-title {
    color: #15f1c4;
    font-size: 21px;
    font-weight: bold;
    text-shadow: 2px 3px 5px #cf22de;
}

.s-des {
    font-size: 15px;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #efefef12;
    border: 1px solid #211c1c;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.navbar-footer {
    background: #00000062;
    margin-bottom: 0;
    border-radius: 0px !important;
    box-shadow: -2px -1px 20px 3px #9a7c7c;
    border-bottom: 1px solid white;
}

.footerlogo {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 10px;
    height: 80px;
    width: 80px;
    background: none;
    border: 1px solid white;
    border-radius: 50%;
}

.footerlogo:hover {
    animation: flip linear;
    animation-duration: 2s;
    box-shadow: 0px 0px 20px 0px #2ddac2;
}

@keyframes flip {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes flipx {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotateX(360deg);
    }
}

.p-box {
    height: 500px;
    width: 100%;
    overflow: hidden;
    border: none;
    margin-top: 20px;
}

.p-img {
    height: 50%;
    width: 90%;
    box-shadow: 0 0 20px 1px white;
    border-radius: 15px;
    margin-top: 15px;
}

.p-box:hover .p-img {
    box-shadow: 0 0 20px 1px aqua;
    animation: flipx linear;
    animation-duration: 2s;
    filter: grayscale(50%);
}

.p-head {
    color: rgb(186, 228, 238);
    margin-bottom: 15px;
    text-decoration: underline;
    text-decoration-line: blink;
    text-transform: uppercase;
}

.p-des {
    margin-top: -226px;
    color: white;
}

.animated {
    transition-duration: 5s all;
    transition-delay: 2s all;
}

.a-box {
    height: auto;
    width: 100%;
    background: #ebd8b431;
    color: white;
    padding: 30px;
    /* border: 2px solid white; */
    border-top-right-radius: 15px;
    /* border-top-left-radius: 15px; */
    border-bottom-left-radius: 15px;
    box-shadow: 5px 7px 20px -5px cyan;
}

.a-name {
    color: rgb(55, 231, 231);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    text-shadow: 6px 6px 9px black;
}

.a-desi {
    margin-top: 10px;
    color: azure;
    font-weight: bold;
}

.a-desi::before {
    content: "(  ";
}

.a-desi::after {
    content: "  )";
}

.a-desc {
    margin-top: 10px;
    font-style: italic;
}

.fa {
    padding: 10px;
}